body {
    font-family: sans-serif;
}


header{
 background-image:linear-gradient(to left,green,white,lightgreen);
 padding: 20px;
}


.link-header{
 text-decoration: none;
 background-color: green;
 padding:10px;
 border-radius: 20px;
 border: 2px dashed blue ;
 box-shadow: 5px 5px 2px 0 green;

}

.link-header:hover{
 box-shadow: 0px 0px 0px 0;
 background-color:blue ;
 color: green;
 text-decoration: underline;
 border: 3px dashed green ;
 border-radius: 10px;
}

body{
 background-color: lightblue ;

}

h1{
 text-align: center;
 color: purple;
 text-shadow:5px 5px 2px rgb(81, 81, 131) ;
}
.link-text{
 text-decoration: none;
 background-color: purple;
 padding:5px;
 border-radius: 20px;
 border: 2px dashed blue ;
 color: beige;
 

}


.link-text:hover{
 background-color:pink ;
 color: rgb(173, 176, 230);
 border: 3px dashed lightgreen ;
 border-radius: 10px;
 text-decoration: underline;
}
